*{
    box-sizing: border-box;
}

body 
{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    min-width: 320px;
}

.mainNav
{
    background-color: cadetblue;
    display: none;
}

.mainNav ul 
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.mainNav ul li 
{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.mainNav ul li a 
{
    margin: auto;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
}

header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo
{
    flex: 1;
}

.logo img 
{
    max-width: 70px;
    padding: 5px;
}

img 
{
    width: 100%;
}
/*style login button*/
.loginLink 
{
    justify-content: right;
    padding: 0px 0px 0px 15px;
    margin-top: 10px;
    flex: 0;
}

.loginLink > ul 
{
    list-style: none;
    padding-left:  0;
    display: flex;
    justify-content: flex-end;
}

.loginLink > ul > li 
{
    border: 1px solid #000;
}

.loginLink > ul > li:first-child
{
    margin-right: 4px;
}

.loginLink > ul > li > a
{
    padding: 5px 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 75px;
}

.burgerMenu
{
    flex: 0;
    padding: 13px 11px 0 11px;
}

.bars
{
    float: right;
    cursor: pointer;
}

.bar1,.bar2,.bar3 
{
    width: 30px;
    height: 5px;
    margin: 5px 0;
    background-color: #000;
}

.mainContent 
{
    margin: 0 10px;
}


/* Main Content */

.siteTitle{
    display: flex;
    justify-content: center;
    font-size: min(5vw, 50px);
}

.siteDesc{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.siteContent img{
    background-image: src="https://cdn.discordapp.com/attachments/788419191870324769/798172367808888832/img-d59a1e029c9958cf333e15513f30d61d.png" alt="";
    display: flex;
    justify-content: center;
}

/* Section 1 */

.section1Title{
    margin-top: 3%;
    font-size: 39px;
}

.section1Desc{
    font-size: 25px;
}

.card-info-top{
    height: auto;
    transition: 0.3s;
}


/*form stying*/

label 
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type ='text'], input[type="email"], textarea
{
    width: 100%;
    padding: 15px 10px;
}

input[type ='text'], input[type="password"], textarea
{
    width: 100%;
    padding: 15px 10px;

}
/*button styling*/
input[type="submit"] 
{
    padding: 15px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

form > div 
{
    margin: 50px;
}

.form 
{

    padding-top: 5%;
    width: 100%;
}