@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');
 *{
    box-sizing: border-box;
}

body 
{
    font-family: Lato, Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.container
{
    width: 100%;
    min-width: 320px;
}

.darkMode /* PLACEHOLDER SEE ISSUE #3*/ /* CURRENTLY HIDES LOGIN BUTTON */
{
    background-color: black;
    color: white;
}


.mainNav
{
    background-color: cadetblue;
    display: none;
}

.mainNav ul 
{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.mainNav ul li 
{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.mainNav ul li a 
{
    margin: auto;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
}

.link:active{
    color: lightslategray !important;
}

.link:hover{
    color: lightslategray !important;
    
}

header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo
{
    flex: 1;
}

.logo img 
{
    max-width: 70px;
    padding: 5px;
    margin-top: 12.5px;
}

img 
{
    width: 100%;
}
/*style login button*/
.loginLink 
{
    justify-content: right;
    padding: 0px 0px 0px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    flex: 0;
}

.loginLink > ul 
{
    list-style: none;
    padding-left:  0;
    display: flex;
    justify-content: flex-end;
}

.loginLink > ul > li 
{
    border: 1px solid #000;
}

.loginLink > ul > li:first-child
{
    margin-right: 4px;
}

.loginLink > ul > li > a
{
    padding: 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    text-align: center;
}

.burgerMenu
{
    margin-top: 12.5px;
    flex: 0;
    padding: 13px 11px 0 11px;
}

.bars
{
    float: right;
    cursor: pointer;
}

.bar1,.bar2,.bar3 
{
    width: 30px;
    height: 5px;
    margin: 5px 0;
    background-color: #000;
}

.mainContent 
{
    margin: 0 10px;
    text-align: center;
}


/* Main Content */

.siteTitle{
    display: flex;
    justify-content: center;
    font-size: min(5vw, 50px);
}

.siteDesc{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.siteContent img{
    background-image: src='https://cdn.discordapp.com/attachments/788419191870324769/798172367808888832/img-d59a1e029c9958cf333e15513f30d61d.png' alt='';
    display: flex;
    justify-content: center;
}

.sectionBreak 
{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: cadetblue;
}

.sectionDesc{
    font-size: 18px;
}

/* Section 1 */

.section1Title{
    margin-top: 3%;
    font-size: 39px;
}

.section1Desc{
    font-size: 25px;
}

.card-info-top{
    height: auto;
    transition: 0.3s;
}

.cards 
{
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px;
    justify-content: space-between;
}

.card
{
    flex-basis: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.card img{
    /*border-radius: 25px;*/
    border-radius: 5px 5px 0 0;
}

/*form stying*/

label 
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type ='text'],[type ='tel'], input[type="email"], textarea
{
    width: 100%;
    padding: 15px 10px;
}
input[type ='date']
{
    width: 100%;
    padding: 15px 10px;
    font-size: 1rem;
}

input[type ='text'], input[type="password"], textarea
{
    width: 100%;
    padding: 15px 10px;

}
/*button styling*/
input[type="submit"] 
{
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.mobileTable 
{
    margin-left: auto;
    margin-right: auto;
}

.mobileTable th
{
    text-align:center;

}

.desktopTable
{
    display:none;
}



form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.desktopTable
{
    display:none;
}
/*footer styling*/

form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.desktopTable
{
    display:none;
}
/*footer styling*/

form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.desktopTable
{
    display:none;
}
/*footer styling*/

form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.desktopTable
{
    display:none;
}
/*footer styling*/

form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.desktopTable
{
    display:none;
}
/*footer styling*/

form > div 
{
    margin: 50px;
}

.form 
{
    text-align: left;
    padding-top: 5%;
    width: 100%;
    flex-basis: 100%;
}

.desktopTable
{
    display:none;
}
/*footer styling*/

footer 
{
    background-color: cadetblue;
    color: #fff;
    padding: 0 10px;
}

footer .row 
{
    display: flex;
    flex-direction: column;
}

footer .row address 
{
    padding: 15px 0 5px 5px;
}